# vim: set noet syn=bash ft=sh ff=unix fenc=utf-8 ts=2 sw=0 : # GPP default modeline for bash script
# shellcheck shell=bash disable=SC1091,SC3006,SC3010,SC3021,SC3043,SC3037 source=${GPP_HOME}

# Part of GPP

# dot-shell_rc_env_secret

# Write here secret thing like password


echo "Processing ${UNDERLINE}${GREEN}dot-shell_rc_env_secret${NORMAL}"

# export FOO_SECRET="bar"

echo -n " "

# Example setting 1
# echo -n "Setting1"
# export ENV1="FOO"

# Example setting 2
# echo -n ", Setting2"
# export ENV2="FOO"

echo
