# vim: ft=gitconfig
[user]
    name = ##__USER_NAME__
    email = ##__USER_MAIL__

[alias]
    mylog = log --graph --name-status --pretty=format:\"%C(red)%h %C(green)%an %Creset%s %C(yellow)%d%Creset\"
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    lga = log --graph --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    st = status
    df = diff
    cm = commit
    br = branch
    ps = push
    pl = pull
    co = checkout
    dfw = diff --word-diff

[push]
    default = current

[pull]
    ff = only
    autostash = true

[rebase]
    autostash = true

[color]
    ui = true

[core]
    editor = vim
    quotepath = false
	pager =

[credential]
    helper = cache --timeout=86400
    #macos-credential-helper helper = osxkeychain
    #windows-credential-helper helper = manager #need to install Microsoft/Git-Credential-Manager-for-Windows
    #gnome-credential-helper helper = gnomekeyring #need to install shugo/git-credential-gnomekeyring
    #TODO: kde-credential-helper

