.DS_Store
/dot-bashrc_alias_local
/dot-bashrc_env_local
/dot-bashrc_etc_local
/dot-bashrc_history_local
/dot-gitconfig

# Ignore tags created by etags, ctags, gtags (GNU global) and cscope
TAGS
.TAGS
!TAGS/
tags
.tags
!tags/
gtags.files
GTAGS
GRTAGS
GPATH
GSYMS
cscope.files
cscope.out
cscope.in.out
cscope.po.out

