<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.github.hmr.gpp.setenv.debug</string>
	<key>ProgramArguments</key>
	<array>
		<string>__GPP_HOME__/settings/os/macos/launchd/launchd_setenv</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>StandardErrorPath</key>
	<string>__GPP_TMP_DIR__/setenv.stderr.log</string>
	<key>StandardOutPath</key>
	<string>__GPP_TMP_DIR__/setenv.stdout.log</string>
</dict>
</plist>
