<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KeepAlive</key>
	<true/>
	<key>Label</key>
	<string>com.github.hmr.gpp.env.zdotdir</string>
	<key>ProgramArguments</key>
	<array>
		<string>/bin/launchctl</string>
		<string>setenv</string>
		<string>ZDOTDIR</string>
		<string>__XDG_CONFIG_HOME__/zsh</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
</dict>
</plist>
