#!/bin/sh

/bin/launchctl setenv GPP_HOME "__GPP_HOME__"
/bin/launchctl setenv VIMINIT ":source __XDG_CONFIG_HOME__/vim/vimrc"
/bin/launchctl setenv XDG_CONFIG_HOME "__XDG_CONFIG_HOME__"
/bin/launchctl setenv ZDOTDIR "__XDG_CONFIG_HOME__/zsh"
/bin/launchctl setenv CODEX_HOME "__XDG_CONFIG_HOME__/codex"
