#!/bin/sh

/bin/launchctl setenv GPP_HOME "__GPP_HOME__"
/bin/launchctl setenv VIMINIT ":source __XDG_CONFIG_HOME__/vim/vimrc"
/bin/launchctl setenv XDG_CONFIG_HOME "__XDG_CONFIG_HOME__"
/bin/launchctl setenv ZDOTDIR "__XDG_CONFIG_HOME__/zsh"
/bin/launchctl setenv CODEX_HOME "__XDG_CONFIG_HOME__/codex"
/bin/launchctl setenv CLAUDE_CONFIG_DIR "__XDG_CONFIG_HOME__/claude"
# An alternative to '~/.vscode' (contains 'argv.json' and 'extensions/').
/bin/launchctl setenv VSCODE_PORTABLE "__XDG_DATA_HOME__/vscode"
# /bin/launchctl setenv VSCODE_APPDATA "__XDG_CONFIG_HOME__/vscode"

