# For Generic display
font-thicken = true
font-thicken-strength = 1
adjust-underline-position = 2

# For Retina display
# font-thicken = false
# adjust-underline-position = 4


# Add the settings to override here

